body {
    margin: 0;
    padding: 0;
    background-color: #caded5;
    height: 100vh;
}

.card {
    border: 0;
}

.card-body {
    background-color: #ffffff;
}

h1 {
    font-size: 300%;
    color: #28a745;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-outline-primary {
    color: #28a745;
    border: 2px solid #28a745;
    background-color: transparent;
    font-size: 0.875rem;
    padding: 0.3rem 0.75rem;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #28a745;
    border-color: #1e7e34;
}

.btn-currentLang {
    background-color: #28a745 !important;
    color: #ffffff !important;
    border-color: #1e7e34 !important;
}

@media (max-width: 576px) {
    #languageSelector .btn {
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem;
    }
}

.result {
    color: #111111;
}

.connected-fields {
    border: 2px dashed #111111;
    padding: 15px;
    margin-top: 20px;
    background-color: #f0f9fa;
    border-radius: 5px;
}

.connected-fields .form-label {
    color: #111111;
    font-weight: 450;
}

#suggestionBox {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    max-height: 400px;
    overflow-y: auto;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-top: none;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#suggestionBox .list-group-item {
    cursor: pointer;
}
#suggestionBox .list-group-item:hover {
    background-color: #e9ecef;
}

.fade-in {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

#carbUnitDisplay {
    font-size: 1em;
    color: #111111;
}

.footer a {
    display: flex;
    align-items: center;
    color: #28a745;
    text-decoration: none;
    margin: 5px 0;
}
.footer a:hover {
    text-decoration: underline;
}

.footer h5 {
    margin-bottom: 15px;
    color: #28a745;
}
.footer .bi {
    margin-right: 8px;
}

@media (max-width: 767px) {
    .footer .col-lg-3 {
        margin-bottom: 20px;
    }
}

.patreon-logo {
    width: 16px;
    height: auto;
    fill: #28a745;
}

.me-2 {
    margin-right: 0.5rem !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

#space-div {
    margin-bottom: 150px;
}
#last-div {
    margin-bottom: 200px;
}

.text {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    font-size: 120%;
}

.btn-primary, .btn-secondary, .btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-primary:hover, .btn-secondary:hover, .btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}